*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  /* border: solid 1px red; */
}
:root {
  --base: #0e0e0e;
  --base-100: #fcfcfc;
  --base-200: #a5a5a5;
  --base-400: #555;
  --base-600: #363636;
  --base-800: #000;

  --yellow: #3a7adaa2;
  --yellow-100: #8b6f00;
  --yellow-400: #ffda4b;
  --yellow-800: #fffbe6;

  --blue: #0a61ae;
  --blue-100: #497ca8;
  --blue-400: #61dafb;
  --blue-800: #e2f8ff;
}
p {
  color: var(--base-100);
}

h2 {
  color: var(--base-100);
}

a {
  text-decoration: none;
  color: var (--base-100);
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  background-color: var(--base);
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .logo-holder {
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: 600;
    color: var(--base-800);

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      background-color: var(--base-800);
      color: var(--base-100);
      height: 64px;
      width: 64px;
      margin-right: 20px;
      border-radius: 50%;
    }
    .logo-txt {
      color: var(--base-100);
      flex: 1;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;
      gap: 10px;

      li {
        display: inline-block;

        a {
          display: flex;

          justify-content: center;
          align-items: center;
          padding: 10px 20px;
          color: var(--base-200);
          background-color: var(--base-600);
          border-radius: 10px;
          position: relative;
          transition: ease 0.4s all;

          &:hover {
            background-color: var(--base-400);
            border-radius: 10px;
            text-decoration: none;
            box-shadow: 40px 0 100px #4c00fd, -40px 0 100px #00d370;
            height: 130%;
          }
        }
        a::after {
          display: flex;
          content: "";
          position: absolute;
          border-radius: 10px;
          z-index: -1;
          background-image: linear-gradient(to bottom right, #00ffaa, #7700d8);
          width: 107%;
          height: 110%;
        }
      }
    }
    .mobile-toggle {
      display: none;
      color: var(--base-800);
      padding: 10px;
      @media (max-width: 768px) {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    nav {
      margin-top: 10px;
      width: 100%;
      ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        a {
          width: 100%;
        }
        &.active {
          display: flex;
        }
      }
    }
  }
}

.hero {
  display: flex;
  @media (max-width: 1024px) {
    flex-direction: column;
  }

  .hero-blue {
    flex: 1;
    background-image: linear-gradient(to bottom right, #18e49c, #004a86);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    position: relative;
    transition: ease 0.5s all;
    box-shadow: 50px 50px 100px #4c00fd65, -40px 0 100px #00d3708f;
    z-index: 1;
    span {
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .call-to-action {
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .hero-yellow {
    flex: 1;
    background-image: linear-gradient(to bottom right, #00ffaa, #5812b3);
    border-radius: 30px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: ease 0.5s all;
    box-shadow: 40px 0 100px #4c00fd65, -40px 0 100px #00d3708f;

    img {
      margin-top: -60px;
      position: relative;
      z-index: 1;
    }
  }
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--blue);
  color: var(--base-100);
  border-radius: 10px;
  transition: ease 0.4s all;
  &:hover {
    text-decoration: none;
    background-color: var(--blue-800);
  }

  &.white {
    background-color: white;
    color: var(--base-800);
    &:hover {
      background-color: var(--base-100);
      color: var(--base);
    }
  }
  &.black {
    background-color: black;
    color: white;
    &:hover {
      background-color: var(--base);
      color: var(--base-100);
    }
  }
}

.container {
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (max-width: 1440px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1 {
  font-size: 50px;
  line-height: 1;
  small {
    display: block;
    font-weight: 100;
  }
}

.logos {
  background-image: linear-gradient(to bottom right, #8faa932d, #6c79c46e);

  border-radius: 30px;
  padding: 30px 0px;
  .marquee {
    width: 100vw;
    overflow: hidden;
    max-width: 100%;
    height: 128px;
    position: relative;
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 40s linear infinite;
      display: flex;
      gap: 10px;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.about-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  .about-me-card {
    text-align: left;
    background-image: linear-gradient(to bottom right, #446358, #1688a5);

    border-radius: 30px;
    padding: 10px;
  }
}
.project_lists_holder {
  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    gap: 30px;
    margin-bottom: 30px;

    li {
      display: block;
      background-image: linear-gradient(to bottom right, #446358, #1688a5);

      border-radius: 30px;
      transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
      height: 300px;
      transition: ease 0.4s all;

      img {
        margin: 10px;
        height: 200px;
        width: 200px;
        float: left;
      }
      p {
        justify-content: flex-start;
      }
      &:hover {
        background-image: linear-gradient(to bottom right, #0bd38d, #1688a5);
      }
    }
  }

  li.enlarged {
    height: 600px;

    box-shadow: 40px 40px 100px #240079, -40px 0 100px #00d370a1;
    background-image: linear-gradient(to bottom right, #0bd38d, #1688a5);
  }
}

.projects_lists_holder {
  display: inline-flex;
  gap: 30px;
  @media (max-width: 1024px) {
    display: block;
  }
}
